---
name: Go
on:
  workflow_dispatch: null
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    # Run full test once a day
    - cron: '0 0 * * *'
jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
      # https://github.com/actions/setup-go
      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: 1.24.4
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          # Required: the version of golangci-lint is required
          # and must be specified without patch version:
          # we always use the latest patch version.
          version: v2.2.2
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@90a3faa9d0182683851fbfa97ca1a2cb983bfca3 # v6.2.1
        with:
          install-only: true
      - name: Show GoReleaser version
        run: goreleaser --version
      - name: Build
        run: make build
    # Codecov should only be updated if make test is executed
    #- name: Upload coverage to Codecov
    #  uses: codecov/codecov-action@v3
    #  if: ${{ github.event_name == 'schedule' }}
    # Manage and run your integration tests with efficiency
    # https://github.com/ovh/venom
