---
name: Updatecli Test
on:
  pull_request:
permissions:
  contents: read
jobs:
  updatecli:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6.0.2
      - name: "Setup updatecli"
        uses: "updatecli/updatecli-action@v2.99.0" # v2.98.0
        with:
          version: "v0.113.0"
      - name: "Set up Go"
        uses: "actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5" # v6.2.0
        with:
          go-version-file: "go.mod"
        id: go
      - name: Install Swagger
        run: "go install github.com/swaggo/swag/cmd/swag@$SWAGGER_VERSION"
        env:
          SWAGGER_VERSION: v1.16.6
      - name: "Test updatecli in dry-run mode"
        run: "updatecli compose diff"
        env:
          # This step is executed in untrusted context. We use a GitHub token with minimal permissions.
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
